* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif !important;
    font-size: 13pt !important;
    font-weight: 300 !important;
    line-height: 1.5;
    color: #333;
    overflow-x: hidden;
}

aside#whatsapp {
    position: fixed;
    top: 0;
    right: 0;
    height: 160vh;
    width: 70px;
    z-index: 14;
    display: flex;
    justify-content: center;
    align-items: center;
}

aside#whatsapp .content-aside {
    height: auto;
    width: 60px;
    background-color: #fff;
    opacity: 60%;
    padding-top: 0px;
    border-radius: .25rem;
}

aside#whatsapp a:hover,
aside#whatsapp a:active {
    background-color: #fff;
    opacity: 40%;
    text-decoration: none;
    border-radius: .25rem;
}

aside#whatsapp .content-aside p {
    transform: rotate(-90deg);
    margin-bottom: 38px;
    margin-left: -35px;
    font-weight: 700;
    width: max-content;
    color: black;
}

aside#whatsapp .content-aside .container-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-icons img {
    margin: 12px 0;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: 800ms ease;
}

aside#whatsapp .container-icons img:hover {
    transform: rotate(360deg);
    opacity: .5;
}

.chama {
    display: none;
}

.v-header {
    padding-right: 0px !important;
    padding-left: 0px !important;
    height: 600px;
    display: flex;
    align-items: center;
    color: #fff;
    background: #0f0f0f93;
    background-image: url(../img/header.jpg);
    background-attachment: fixed;
    background-position: 50% 30%;
    opacity: 0.85;
}

.menu {
    background-color: #343a40;
    display: flex;
    padding-top: 10px;
}

.mobile {
    display: none;
}

.logo {
    position: fixed;
    left: 35%;
    right: 35%;
    width: 20%;
    margin: 0 auto;
    text-align: center;
    z-index: 2;
}

.logo a img {
    height: 80px;
    width: 80px;
}

.descktop {
    display: block;
}

.list-left {
    margin-left: 1%;
}

.redes {
    margin-right: 14%;
    margin-left: auto;
}

.alinhar {
    float: right;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
}

.navbar {
    opacity: 0.9;
    position: fixed;
    width: 100%;
    z-index: 1;
    filter: Alpha(opacity=90);
}

.navbar ul li {
    color: #FFF !important;
    font-size: 13pt !important;
}

.navbar .active a,
.nav a:focus {
    color: #c6c6c4 !important;
    background-color: transparent !important;
}


/* Menu - Animação */

.navbar-nav a::before,
.navbar-nav a::after {
    display: inline-block;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    -moz-transition: -moz-transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s;
}

.navbar-nav a::before {
    margin-right: 10px;
    content: '[';
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    transform: translateX(20px);
}

.navbar-nav a::after {
    margin-left: 10px;
    content: ']';
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    transform: translateX(-20px);
}

.navbar-nav a:hover,
.navbar-nav a:hover::before,
.navbar-nav a:hover::after,
.navbar-nav a:focus::before,
.navbar-nav a:focus::after {
    color: #c6c6c4 !important;
    background-color: transparent !important;
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
}

.header-overlay {
    height: 500px;
    width: 100vw;
    position: absolute;
    left: 0;
    background: #0f0f0f93;
    z-index: 1;
    opacity: 0.85;
}

.header-content {
    z-index: 2;
}

.header-content h1 {
    font-size: 30px;
    margin-bottom: 0;
}

.header-content p {
    font-size: 1.5rem;
    display: block;
    padding-bottom: 2rem;
}

.btn {
    background: #1765be;
    color: #fff;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    text-decoration: none;
}

.btn:hover {
    color: #fff;
}

.sec {
    padding: 20px 0 1px 0;
    display: block;
}

.googlemaps {
    display: block;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.mapa {
    display: block;
    height: 550px;
    width: 100%;
}

#contato {
    background: #e9ecef;
    color: #333;
}

@media(max-width:960px) {
    .container {
        padding-right: 3rem;
        padding-left: 3rem;
    }
    .mobile {
        display: block;
    }
    .descktop {
        display: none;
    }
    .redes {
        margin-right: 0;
    }
    .alinhar {
        float: none;
    }
}

.img-bloco {
    max-width: 100%;
    display: block;
    margin: 0 auto 0 auto;
}

.content-site {
    padding-top: 100px;
    padding-bottom: 100px;
}

.content-site-b {
    padding-bottom: 100px;
}

.cabecalho-h2 {
    text-align: center;
    padding-top: 40px;
}

.cabecalho-p {
    text-align: center;
    padding-bottom: 20px;
}

.anime {
    padding-top: 20px;
    padding-bottom: 20px;
    opacity: 0;
    transform: translate3d(-100px, 0, 0);
    transition: .3s;
}

.anime-start {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.jumbotron {
    margin-bottom: 0;
}

@media(min-width:35em) {
    .header-content h1 {
        font-size: 50px;
    }
    .header-overlay {
        height: 400px;
    }
    v-header {
        height: 700px;
    }
    .chama {
        display: block;
    }
    aside#whatsapp .content-aside {
        padding-top: 50px;
        width: 40px;
    }
    aside#whatsapp {
        width: 120px;
        height: 100vh;
    }

    .container-icons img {
        width: 35px;
        height: 35px;
    }
}

hr {
    border: 1px solid white;
}

.site-footer {
    background-color: #333;
    padding: 20px 0 20px 0;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
}

.site-footer a {
    color: #737373;
}

.site-footer a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links {
    padding-left: 0;
    list-style: none
}

.footer-links a {
    color: #737373
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: #3366cc;
    text-decoration: none;
}

.site-footer .social-icons {
    text-align: left;
}

.copyright-text {
    margin: 0;
}

.form-group {
    text-align: left;
}

@media (max-width:991px) {
    .site-footer [class^=col-] {
        margin-bottom: 30px;
    }
}

@media (max-width:767px) {
    .site-footer {
        padding-bottom: 0;
        ;
    }
    .site-footer .copyright-text,
    .site-footer .social-icons {
        text-align: center;
    }
}

.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px;
}

.social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px;
}

.social-icons a {
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    width: 55px;
    height: 50px;
    text-align: center;
    margin-right: 8px;
    border-radius: 25%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

.social-icons a img {
    width: 50px;
    height: 50px;
}

h2 img {
    width: 40px;
    height: 40px;
}

.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px;
}

.social-icons a.facebook:active,
.social-icons a.facebook:hover {
    background-color: #3b5998;
}

.social-icons a.instagram:active,
.social-icons a.instagram:hover {
    background-color: #d22845;
}

.social-icons a.youtube:active,
.social-icons a.youtube:hover {
    background-color: #007bb6;
}

@media (max-width:767px) {
    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600;
    }
}